In [ ]:
import pandas as pd

# Load data dari file CSV
file_path = 'Achmad Kurniawan - Negara.csv'  # Ganti dengan nama file Anda
db = pd.read_csv(file_path)

# Hitung rata-rata dan standar deviasi populasi berdasarkan negara
mean_populasi = db.groupby('Negara')['Populasi'].mean()
std_populasi = db.groupby('Negara')['Populasi'].std()

# Tampilkan data asli
print("\nData Asli:")
print(db)

# Tampilkan rata-rata populasi
print("\nRata-rata Populasi per Negara:")
print(mean_populasi)

# Tampilkan standar deviasi populasi
print("\nStandar Deviasi Populasi per Negara:")
print(std_populasi)

Data Asli:
             Negara       Ibu Kota    Benua   Luas  Populasi
0         Indonesia        Jakarta     Asia   1905       264
1            Jepang          Tokyo     Asia    377       143
2             India      New Delhi     Asia   3287      1252
3             China        Beijing     Asia   9597      1357
4   Amerika Serikat  Washington DC  Amerika   9834       329
5            Brazil       Brazilia  Amerika   8515       210
6             Rusia         Moskow     Asia  17098       146
7           Meksiko   Meksiko City  Amerika   1964       126
8           Nigeria          Abuja   Afrika    923       200
9            Jerman         Berlin    Eropa    357        83
10         Aljazair       Aljazair   Afrika   2381        43
11          Inggris         London    Eropa    242        66

Rata-rata Populasi per Negara:
Negara
Aljazair             43.0
Amerika Serikat     329.0
Brazil              210.0
China              1357.0
India              1252.0
Indonesia           264.0
Inggris              66.0
Jepang              143.0
Jerman               83.0
Meksiko             126.0
Nigeria             200.0
Rusia               146.0
Name: Populasi, dtype: float64

Standar Deviasi Populasi per Negara:
Negara
Aljazair          NaN
Amerika Serikat   NaN
Brazil            NaN
China             NaN
India             NaN
Indonesia         NaN
Inggris           NaN
Jepang            NaN
Jerman            NaN
Meksiko           NaN
Nigeria           NaN
Rusia             NaN
Name: Populasi, dtype: float64